---
import Card from "../components/Card";
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../posts/*.md");
---

<Layout title="Astro Blog">
  <section class="page-content">
    <div class="container">
      {posts.map((post) => <Card title={post.frontmatter.title} body={post.frontmatter.excerpt} />)}
    </div>
  </section>
</Layout>
