---
const name = "Astro";
const style = "purple";
const users = ["Astro", "Frank", "Joe"];
let visible = true;
---

<>
  <h1 class={style}>Hello {name}</h1>

  <ul>
    {users.map((user) => (
      <li>{user}</li>
    ))}
  </ul>

  {visible && <p>I am Visible</p>}
</>

<style>
  h1 {
    color: red;
  }

  .purple {
    color: purple;
  }
</style>
