---
import Features from "../components/Features";
import Showcase from "../components/Showcase";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Showcase
    heading="Welcome To The Astro Crash Course!"
    description="Build super fast HTML-first websites using your favorite JavaScript frameworks"
    showExtra={true}
  />
  <Features />
  <h1>Hello World</h1>
</Layout>
